<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="connectionString" value="Server=DESKTOP-DGHVO7U\SQLEXPRESS;Database=MedicalClinic;Trusted_Connection=True;"/>
	</appSettings>
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true" />
	</runtime>
</configuration>